@import '@src/styles/_variables.scss';

/*****Footer Links Section*****/
.footerContainer{
    background-color: $bg-muted;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.footerLinks{
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: space-evenly;
}
.mainLink{
    color: $text-primary;
    text-decoration: none;
    font-weight: 700;
    font-size: smaller;
}
.secondaryLinks{
    list-style: none;
    padding-left: 0;
}
.secondaryLink{
    text-decoration: none;
    color: $text-muted;
    font-size: smaller;
}
.footerDivider{
    margin:1rem 4rem;
}

/*******Social Media Section******/

.socialLinksContainer{
    padding: 2rem 4rem;
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
}
.socialLinksContainer a{
    text-decoration: none;
    color: $text-muted;
}

/*******Button Section*******/
.buttonContainer{
    display: flex;
    gap: 2rem;
    padding: 4rem;
    flex-wrap: wrap;
    justify-content: center;
}
.buttonContainer a{
    text-decoration: none;
    padding: 1rem;
    color: $text-muted;
    font-size: small;
    border: 1px solid $gray-200;
    border-radius: 2rem;
    font-weight: 600;
}

/******Group Sites Links Section******/
.groupSitesLinks{
    padding: 0rem 4rem 2rem 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.groupSitesLinks span{
    font-size: smaller;
    font-weight: 500;
    color: $text-primary;
}
.groupSitesLinks a{
    text-decoration: none;
    font-size: smaller;
    color: $text-muted;
    font-weight: 900;
}

/*******Footer Information Section*******/
.footerInformation{
    padding: 0 10rem;
    font-size: small;
    background-color: $border-medium;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/******Disclaimer Section******/
.disclaimerSectionHeading{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-size: large;
    background-color: transparent;
    border: none;
    padding: 0;
    width: 100%;
}