.accordion {
  width: 100%;
  padding-left: $space-72;
  padding-right: $space-72;
  box-sizing: border-box;
  padding-bottom: $space-32;
  contain: layout style;
}

.accordion__item {
  box-shadow: none;
  border-bottom: 1px solid $border-medium;
  contain: layout style;
}

.accordion__summary {
  padding: $space-24 0; 
  min-height: auto; 
  align-items: center;
  contain: layout style;

  .MuiAccordionSummary-content {
    margin: 0;
  }
}

.accordion__title {
  font-size: $fs-16;
  color: $text-primary;
  line-height: 1.25;
  @include font-apply($font-lato, $fw-bold);
}

.accordion__summary .MuiAccordionSummary-expandIconWrapper {
  transition: transform 200ms ease;
}

.accordion__item.Mui-expanded .MuiAccordionSummary-expandIconWrapper {
  transform: rotate(180deg);
}

.accordion__details {
  padding-left: $space-16;
  padding-bottom: $space-24;
}

.accordion__content {
  border-left: $radius-3 solid $border-medium;
  padding-left: $space-10;
  padding-top: 0;
  padding-bottom: $space-24; 
  color: $text-primary;
  font-size: $fs-16;
  line-height: $lh-loose;
  @include font-apply($font-noto, $fw-regular);
}

.accordion__content ol,
.accordion__content ul {
  margin: 0 0 $space-16 0;
  padding-left: $space-20;
}

.accordion__content table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: $space-12;
}

@media (max-width: 1024px) {
  .accordion {
    padding-left: $space-24;
    padding-right: $space-24;
  }
  .accordion__title {
    font-size: $fs-15;
  }
  .accordion__content {
    padding-left: $space-18;
  }
}