# Target modern browsers only - this prevents unnecessary polyfills
# Remove browsers that don't support ES2020+ features
last 2 Chrome versions
last 2 Firefox versions
last 2 Safari versions
last 2 Edge versions

