@import '@src/styles/fonts.scss';
@import '@src/styles/variables.scss';
@import '@src/styles/mixins.scss';

.banner {
  padding: $space-80 0 0;
  background: $bg-muted;
  height: $space-480;
  margin-bottom: $space-130;
  position: relative;

  &__inner {
    max-width: 75rem;
    margin: 0 auto;
    display: flex;
    gap: $space-24;
    align-items: flex-start;

    // @include min-width('md') {
    //   padding: $space-32 $space-48;
    // }
  }

  &__left {
    display: flex;
    flex-direction: column;
    gap: $space-32;
  }

  &__title {
    margin: 0;
    font-size: $fs-20;
    color: $text-primary;
    padding-top: $space-56;
    @include font-apply($font-lato, $fw-bold);
    line-height: 1.1;

    @include min-width('lg') {
      font-size: $fs-40;
    }

  }

  &__texts {
    display: flex;
    flex-wrap: wrap;
    gap: $space-24;
    list-style: none;
    padding: 0;
    margin: 0;

    &>.banner__text-item {
      display: flex;
      align-items: center;
      gap: $space-10;
      color: $text-primary;
      font-size: $fs-18;
      flex: 0 0 calc(50% - 1.5rem); // 24px
      max-width: calc(50% - 1.5rem); // 24px
      line-height: 1.75rem; // 28px
      @include font-apply($font-noto);

      .banner__text-icon {
        max-width: 100%;
        height: auto;
        display: inline-block;
      }

      >div>p {
        margin: 0;
      }
    }
  }


  &__cards-wrapper {
    position: relative;
    z-index: 2;
    top: -$space-190;
    padding: 0;
    //top: -$space-222;
  }

  &__cards {
    display: flex;
    gap: $space-40;
    background: $white;
    border-radius: $radius-16;
    justify-content: center;
    box-shadow: 0px 4px 8px rgba($text-primary, 0.12);
    flex-wrap: wrap;

    @include min-width('md') {
      padding: $space-32 $space-48;
    }
  }

  &__card {
    display: block;
    text-decoration: none;
    color: inherit;
    border-radius: $radius-12;
    background: $white;
    box-shadow: 0px 4px 8px rgba($accent, 0.16);
    border: 1px solid $border-light;
    width: 100%;
    min-width: $space-104;
    max-width: $space-174;

    &-top {
      padding: $space-8;
      text-align: center;
      background: transparent;
      position: relative;
    }

    &-pill {
      display: inline-block;
      padding: $space-4;
      border-radius: $radius-12;
      background: #cef5e1;
      font-size: $fs-10;
      color: $success;
      @include font-apply($font-noto, $fw-bold);
      position: absolute;
      top: -$space-10;
      left: 0;
      width: 100%;
      line-height: 1rem; // 16px

      p {
        margin: 0;
      }
    }

    &-body {
      padding: $space-16 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: $space-10;
      min-width: $space-174;
      max-width: 6.25rem; // 100px
    }

    &-icon img {
      width: 3.5rem; // 56px
      height: auto;
      display: block;
    }

    &-title {
      font-size: $fs-16;
      text-align: center;
      color: $text-primary;
      padding: 0 $space-16;
      line-height: 1.3125rem; // 21px
      @include font-apply($font-noto, $fw-medium);
    }

    &-sub {
      font-size: $fs-13;
      color: $text-primary;
      text-align: center;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: center;

    .banner__image-wrap {
      position: relative;
      z-index: 2;
      padding-top: $space-56;

      &::before {
        content: "";
        border-radius: 50%;
        //top: 24px;
        opacity: 0.08;
        display: block;
        background: #3597ec;
        width: 26.456rem;
        height: 26.456rem;
        border-radius: 50%;
        position: absolute;
        padding: 13%;
        right: -2.5rem;
        border: solid #c1ddf5 20px;
        top: 8px;
      }
    }

    .banner__image {
      width: $space-348;
      height: auto;
      position: relative;
      z-index: 3;
      display: block;

    }
  }
}