@import '@src/styles/fonts.scss';
@import '@src/styles/variables.scss';

.banner {
  padding: 80px 0 0;
  background: $bg-muted;
  height: 480px;
  margin-bottom: 130px;
  position: relative;

  &__inner {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 24px;
    align-items: flex-start;
  }

  &__left {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__title {
    margin: 0;
    font-size: 40px;
    color: $text-primary;
    padding-top: 56px;
    @include font-apply($font-lato, $fw-bold);
    line-height: 1.1;
  }

  &__texts {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    list-style: none;
    padding: 0;
    margin: 0;

      & > .banner__text-item {
      display: flex;
      align-items: center;
      gap: 10px;
      color: $text-primary;
      font-size: 18px;
      flex: 0 0 calc(50% - 24px); 
      max-width: calc(50% - 24px);
      line-height: 28px;
      @include font-apply($font-noto);

      .banner__text-icon {
        max-width: 100%;
        height: auto;
        display: inline-block;
      }

      > div > p {
        margin: 0;
      }
    }
  }


  &__cards-wrapper {
    position: relative;
    z-index: 2;
    top: -190px;
    padding: 0;
  }

  &__cards {
    display: flex;
    gap: 40px;
    padding: 32px 48px;
    background: $white;
    border-radius: 16px;
    justify-content: center;
    box-shadow: 0px 4px 8px rgba($text-primary, 0.12);
  }

  &__card {
    display: block;
    text-decoration: none;
    color: inherit;
    border-radius: 12px;
    background: $white;
    box-shadow: 0px 4px 8px rgba($accent, 0.16);
    border: 1px solid $border-light;
    width: 100%;
    min-width: 104px;
    max-width: 174px;

    &-top {
      padding: 8px;
      text-align: center;
      background: transparent;
      position: relative;
    }

    &-pill {
      display: inline-block;
      padding: 4px;
      border-radius: 12px;
      background: rgba($success, 0.15);
      font-size: 10px;
      color: $success;
      @include font-apply($font-noto, $fw-bold);
      position: absolute;
      top: -10px;
      left: 0;
      width: 100%;

      p{
        margin: 0;
      }
    }

    &-body {
      padding: 16px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      min-width: 174px;
      max-width: 100px;
    }

    &-icon img {
      width: 56px;
      height: auto;
      display: block;
    }

    &-title {
      font-size: 16px;
      text-align: center;
      color: $text-primary;
      padding: 0 16px;
      line-height: 21px;
      @include font-apply($font-noto, $fw-medium);
    }

    &-sub {
      font-size: 13px;
      color: $text-primary;
      text-align: center;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: center;

    .banner__image-wrap {
        position: relative; 
        z-index: 2; 
        padding-top: 56px;        

      /* Create a circular soft background using ::before */
      &::before {
        display: block;
        content: "";
        background: $accent;
        width: 38.456rem;
        height: 38.456rem;
        border-radius: 50%;
        position: absolute;
        top: 24px;
        right: -17px;
        transform: translateZ(0);
        z-index: 1;
        opacity: 0.08;
        pointer-events: none;

        @media (max-width: 900px) {
          width: 12rem;
          height: 12rem;
          top: -10%;
          right: 1.5rem;
          box-shadow: 0 0 0 8px rgba($accent-light, 0.65),
                      0 4px 18px rgba($accent, 0.12);
        }
      }
    }

    .banner__image {
      width: 348px;
      height: auto;
      position: relative;
      z-index: 3;
      display: block;

    }
  }
}


// @media (max-width: 900px) {
//   .banner {
//     &__inner {
//       flex-direction: column;
//       align-items: stretch;
//     }
//     &__right {
//       width: auto;
//       order: -1;
//       margin-bottom: 10px;
//     }
//     &__cards {
//       gap: 12px;
//     }
//   }
// }