.disclaimer-wrapper {
  contain: layout style;
  
  p {
    color: $black;
    font-size: $fs-10;
    line-height: 14px;
    @include font-apply($font-noto, $fw-regular);
    padding: 0;
    margin-top: $space-48;

    @include min-width('lg') {
      padding: 0 $space-32;
      font-size: $fs-13;
      line-height: 1.125rem;
    }
  }
}

.life-insurance-wrapper {
  contain: layout style;
  
  @include min-width('lg') {
    padding: $space-48;
  }

  h2 {
    font-size: $fs-18;
    color: #143a72;
    @include font-apply($font-lato, $fw-bold);
    position: relative;
    line-height: 1.4;
    @include min-width('lg') {
      font-size: $fs-32;
      line-height: 1.44;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -8px;
      border-radius: 0.25rem;
      height: 4px;
      width: 2rem;
      background: linear-gradient(45deg, #0092db 0%, #91DCFD 100%);
    }
  }

  p {
    color: $text-primary;
    @include font-apply($font-noto, $fw-regular);
    line-height: 1.44;
    font-size: $fs-16;
    padding: 24px 0 0;
  }

  a {
    color: $accent;
    cursor: pointer;
  }
}