@import '@src/styles/fonts.scss';
@import '@src/styles/variables.scss';

.disclaimer-wrapper {
  p {
    color: $black;
    font-size: $fs-13;
    line-height: 1.125rem; // 18px
    @include font-apply($font-noto, $fw-regular);
    padding: 0 $space-32;
  }
}

.life-insurance-wrapper {
  padding-top: $space-48;
  p {
    color: $text-primary;
    @include font-apply($font-noto, $fw-regular);
    line-height: 1.44;
    font-size: $fs-16;
  }

  a {
    color: $accent;
    cursor: pointer;
  }
}