.disclaimer-wrapper {
  margin-bottom: $space-80;

  p {
    color: $black;
    font-size: $fs-10;
    line-height: $lh-normal;
    @include font-apply($font-noto, $fw-regular);

    @include min-width('lg') {
      padding: 0 $space-32;
      font-size: $fs-13;
      line-height: $lh-normal;
    }
  }
}

.life-insurance-wrapper {
  @include min-width('lg') {
    padding: $space-48;
  }

  h2 {
    font-size: $fs-18;
    color: $primary;
    @include font-apply($font-lato, $fw-bold);
    position: relative;
    line-height: $lh-relaxed;

    @include min-width('lg') {
      font-size: $fs-32;
      line-height: $lh-relaxed;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -$space-8;
      border-radius: $radius-4;
      height: $space-4;
      width: $space-32;
      background: linear-gradient(45deg, $accent 0%, #91DCFD 100%);
    }
  }

  p {
    color: $text-primary;
    @include font-apply($font-noto, $fw-regular);
    line-height: $lh-relaxed;
    font-size: $fs-16;
    padding: $space-24 0 0;
  }

  a {
    color: $accent;
    cursor: pointer;
  }
}

.agreement-wrapper {
  margin: 0;
  padding: 0;
  width: 60%;
  margin: 0 auto;

  div {
    text-align: center;

    > figure {
      display: inline-block;
      margin-right: 8px;
      vertical-align: middle;
    }

    > p:first-of-type {
      display: inline-block;
      vertical-align: middle;
    }

    > p:nth-of-type(n+2) {
      display: block;
      text-align: left;
      margin-top: 16px;
    }
  }
}

.testimonial-carousel-text-block {
  display: flex;
  justify-content: center;
  color: #505662;
  font-size: 13px;
  line-height: 1.125rem;
  margin-top: -0.75rem;
}