.disclaimer-wrapper {
  contain: layout style;
  
  p {
    color: $black;
    font-size: $fs-10;
    line-height: $lh-normal;
    @include font-apply($font-noto, $fw-regular);
    padding: 0;
    margin-top: $space-48;

    @include min-width('lg') {
      padding: 0 $space-32;
      font-size: $fs-13;
      line-height: $lh-normal;
    }
  }
}

.life-insurance-wrapper {
  contain: layout style;
  
  @include min-width('lg') {
    padding: $space-48;
  }

  h2 {
    font-size: $fs-18;
    color: $primary;
    @include font-apply($font-lato, $fw-bold);
    position: relative;
    line-height: $lh-relaxed;
    @include min-width('lg') {
      font-size: $fs-32;
      line-height: $lh-relaxed;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -$space-8;
      border-radius: $radius-4;
      height: $space-4;
      width: $space-32;
      background: linear-gradient(45deg, $accent 0%, #91DCFD 100%);
    }
  }

  p {
    color: $text-primary;
    @include font-apply($font-noto, $fw-regular);
    line-height: $lh-relaxed;
    font-size: $fs-16;
    padding: $space-24 0 0;
  }

  a {
    color: $accent;
    cursor: pointer;
  }
}