// --- Font-face declarations ---
// Roboto Regular
// @font-face {
//   font-family: 'Roboto';
//   src: url('/assets/fonts/roboto-400.woff2') format('woff2');
//   font-weight: $fw-regular;
//   font-style: normal;
//   font-display: swap;
// }

// Noto Sans (regular subsets)
@font-face {
  font-family: 'Noto Sans';
  src: url('/assets/fonts/noto-sans-400-latin.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  ascent-override: 109%;
  descent-override: 26%;
  line-gap-override: 0%;
  size-adjust: 100%;
}
@font-face {
  font-family: 'Noto Sans';
  src: url('/assets/fonts/noto-sans-400-latin-ext.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  ascent-override: 109%;
  descent-override: 26%;
  line-gap-override: 0%;
  size-adjust: 100%;
}

// Lato Regular
@font-face {
  font-family: 'Lato';
  src: url('/assets/fonts/lato-400.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  ascent-override: 103%;
  descent-override: 27%;
  line-gap-override: 0%;
  size-adjust: 100%;
}

// Lato Bold
@font-face {
  font-family: 'Lato';
  src: url('/assets/fonts/lato-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  ascent-override: 103%;
  descent-override: 27%;
  line-gap-override: 0%;
  size-adjust: 100%;
}
