@import './fonts.scss';

/* Global styles */
html {
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Noto Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  font-size: $fs-16;
  line-height: 1.5rem; // 24px
}

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
  display: block;
}

.container-sec {
  max-width: $space-1366;
  margin: 0 auto;
  padding: 0 $space-16;
  width: 100%;
}

.hidden-mobile {
  @include max-width('md') {
    display: none !important;
  }
}