@import './fonts.scss';

/* Global styles */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include font-apply($font-noto);
  font-size: 16px;
  line-height: 24px;
}

audio, canvas, embed, iframe, img, object, svg, video {
  display: block;
}

.container-sec {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 16px;
  width: 100%;
}