.videoContainer {
  width: fit-content;
  margin: 0 auto;
  padding: $space-16;
  @include min-width('lg') {
    padding: $space-32;
  }

  iframe {
    border: none;
    border-radius: 1.75rem;
    height: 12rem;
    width: 21.5rem;
    @include min-width('lg') {
      width: 46.125rem;
      height: 26rem;
    }
  }
}

