.videoContainer {
  width: fit-content;
  margin: 0 auto;
  padding: $space-16;

  @include min-width('lg') {
    padding: $space-32;
  }

  .ytLiteButton {
    padding: 0;
    border: none;
    cursor: pointer;
    background: none;
    height: $video-height-sm !important;
    width: $video-width-sm !important;

    @include min-width('lg') {
      height: $video-height-lg !important;
      width: $video-width-lg !important;
    }

    .ytLiteThumb {
      height: $video-height-sm !important;
      width: $video-width-sm !important;
      border-radius: $video-border-radius;

      @include min-width('lg') {
        height: $video-height-lg !important;
        width: $video-width-lg !important;
      }
    }

    .ytLitePlayIcon {
      position: absolute;
      left: 50%;
      top: 50%;
      width: $video-play-icon-width;
      height: $video-play-icon-height;
      transform: translate(-50%, -50%);
      background: rgba(255, 0, 0, $opacity-video-play-icon);
      border-radius: $radius-12;
      box-shadow: $shadow-video-play;
    }

    /* Triangle */
    .ytLitePlayIcon::before {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-40%, -50%);
      border-style: solid;
      border-width: $video-play-icon-border;
      border-color: transparent transparent transparent #fff;
    }

    /* Keyboard focus ring */
    .ytLiteButton:focus-visible {
      outline: $radius-3 solid $video-focus-color;
      outline-offset: $focus-outline-offset;
    }
  }

  iframe {
    height: $video-height-full;
    width: $video-width-full;
    border: none;
    border-radius: $video-border-radius;
    height: $video-height-sm;
    width: $video-width-sm;

    @include min-width('lg') {
      width: $video-width-lg;
      height: $video-height-lg;
    }
  }
}

@media (max-width: 768px) {
  .videoContainer {
    padding: $padding-video-mobile;
  }
}

@media (max-width: 690px) {
  .videoContainer {
    .ytLiteButton {
      height: $video-height-mobile;
    }

    .ytLiteThumb {
      height: $video-height-mobile;
    }

    iframe {
      height: $video-height-mobile;
    }
  }
}