@import '@src/styles/fonts.scss';
@import '@src/styles/variables.scss';

.carousel {
  padding: 2rem 0;

  &__card {
    background: $white;
    margin: 16px;
    border-radius: 6px;
    min-height: 260px;
    display: flex;
    gap: 44px;
    align-items: flex-start;
    flex-direction: column;
  }

  &__media {
    padding-left: 16px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  &__image-wrap {
    display: inline-block;
    position: relative;
    width: 66px;
    height: 77px;
  }

  &__media-underline {
    display: block;
    width: 60px;
    height: 6px;
    background: $bg-muted;
    margin: 16px auto 0;
    border-radius: 3px;
  }

  &__body {
    border-left: 1px solid $border-light;
    padding-left: 16px;
  }

  &__title {
    font-size: 16px;
    color: $primary-dark;
    @include font-apply($font-lato, $fw-bold);
    margin: 0;
  }

  &__content {
    color: $text-primary;
    font-size: 16px;
    padding: 20px 0;
    @include font-apply($font-noto, $fw-semi-bold);
    p {
      margin: 0 0 0.8rem 0;
    }
  }

  &__arrow {
    background: rgba(0,0,0,0.06);
    border: 0;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &--left { 
      left: -40px!important;
    }

    &--right { 
      right: -40px!important;
    }

    &:before {
      content:none
    }
  }

  :global(.slick-disabled) {
    opacity: 0.25;
    filter: grayscale(1);
    pointer-events: none;
    transition: opacity 0.2s ease;
   }
}


@media (max-width: 640px) {
  .carousel {
    &__card {
      flex-direction: column;
      align-items: flex-start;
      min-height: auto;
    }

    &__media {
      margin-bottom: 1rem;
    }
  }
}
