.featureCardsLayoutContainer {
  width: 100%;
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include min-width('md') {
    padding: 1.5rem;
  }

  &__title {
    text-align: center;
    line-height: 1.75rem;
    font-size: 18px;
    margin-bottom: 1rem;
    font-weight: 700;
  }

  &__container {
    max-width: 53.5rem;
    width: 100%;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }

    &__wrapper {
      display: flex;
      justify-content: center;
      padding-bottom: 0.5rem;
      column-gap: 1rem;

      &__card {
        height: 150px;
        width: 200px;
        padding: 0.5rem;
        display: flex;
        border-radius: 0.25rem;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        > div {
          p:first-of-type {
            margin-left: 0.5rem;
            margin-right: 0.5rem;
            font-size: 16px;
            line-height: 1.437rem;
            font-weight: 700;
          }

          p:nth-of-type(2) {
            color: rgba(74, 85, 104, 1);
            padding-top: 0.5rem;
            margin: 0.25rem 0.5rem;
            font-size: 13px;
            line-height: 1.125rem;
          }
        }
      }
    }
  }
}
