.headerContainer {
  background-color: $primary;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  border-bottom: 1px solid rgba($border-light, 0.2);

  .headerInner {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 $space-12;
  }
}

.logoContainer {
  margin-right: auto;

  img {
    max-width: 100%;
    height: auto;
  }
}


/*****Navigation Menu Style ******/
.navigationItem {
  >a {
    padding: 1.8rem 0;
    display: inline-block;
  }
}

.subNavigationItem {
  display: flex;
  row-gap: 20px;
  flex-direction: column;
}

.subNavigationItemMainLink {
  @include font-apply($font-noto, $fw-bold);
  font-size: $fs-16;
  line-height: 24px;
}

/* Parent container */
.navigationMenu {
  position: relative;
  flex: 4;

  ul>li>ul>li>ul {
    flex-direction: column;
  }
}

.navigationMenu .navigationMenu__inner {
  display: flex;
  padding: 0;
  margin: 0 0 0 $space-40;
  gap: $space-44;
  //padding: 28.8px 0;

  >li {
    padding: 0;

    >a {
      //color: #3597EC;
      //@include font-apply($font-noto, $fw-semi-bold);
      padding: 28.8px 0;
      display: inline-block;
      font-size: 15px;
      line-height: 24px;
    }
  }
}

/* --- NAV ITEM (TOP LEVEL) --- */
.navigationItem {
  position: relative;
  list-style: none;
  //padding: 10px 15px;
  cursor: pointer;
}

/* The link inside the top-level nav item */
.navigationItem>a {
  text-decoration: none;
  color: $white;
  font-weight: 600;
  position: relative;
  padding-right: 20px;
}

/* --- SVG ARROW --- */
.navigationArrow {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
  transition: transform 0.25s ease;
  margin-left: 8px;
}

/* --- ARROW ROTATION ON HOVER --- */
.navigationItemWrapper:hover .navigationArrow {
  transform: translateY(-50%) rotate(-90deg);
}

/* --- SUBMENU (Initially hidden) --- */
.navigationItemWrapper .subNavigationMenu {
  display: none;
  position: absolute;
  background: $white;
  padding: 10px 0;
  margin: 0;
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
  min-width: 180px;
  z-index: 999;
  column-gap: 2rem;
  border-radius: 0 0 1rem 1rem;
  border-top: 1px solid #DCDDE0;
}

/* Show submenu on hover of wrapper */
.navigationItemWrapper:hover .subNavigationMenu {
  display: flex;
  padding: 1.5rem 1.875rem;
  flex-direction: row;
}

/* --- UP ARROW ON HOVER --- */
.navigationItemWrapper:hover .navigationItem>a::after {
  transform: translateY(-50%) rotate(180deg);
}

.subNavigationItemMainLink a,
.subNavigationItemSecondaryLink a {
  text-decoration: none;
  color: $text-primary;
  font-size: 14px;
}

.subNavigationItemMainLink a {
  color: #3597EC;
  font-weight: 800;
}

.subNavigationItemSecondaryLink a {
  @include font-apply($font-noto, $fw-regular);
  color: #626772;
  line-height: 24px;
  font-size: $fs-16;
}

.subNavigationItemSecondaryLink:hover a {
  color: #3597ec;
}

.hamburgerSection {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 8px;
  background-color: transparent;
  border: none;
  margin-left: 10px;
  color: $white;
}

.hamburgerSection:focus-visible {
  outline: 2px solid $white;
  outline-offset: 2px;
}

.hamburgerMenu {
  display: block;
  width: 24rem;
  background: $white;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.15);
  padding: 16px 1px 16px 1px;
  position: fixed;
  z-index: 3;
  right: 0;
  overflow: hidden auto;
  height: calc(-53px + 100vh);
}

.hamburgerMenu>h2 {
  margin: 0 0 0 5px;
  color: #969aa1;
  padding-inline: 23px;
  padding-bottom: 23px;
  font-size: 12px;
  font-weight: 700;
  @include font-apply($font-lato, $fw-regular)
}

.hamburgerMenuHidden {
  display: none;
  /* invisible */
  opacity: 0;
}

.hamburgerMenu ul {
  list-style: none;
  margin: 0;
  padding-left: 0;

  hr {
    margin: 1rem 0;
    border: none;
    border-top: 1px solid #e0e0e0;
    margin-left: 28px;
    margin-right: 14px;
  }
}

.hamburgerMenu ol {
  padding-left: 0;
}

.hamburgerMenuItem {
  list-style: none;
  position: relative;
  margin-left: 20px;
  padding: 0 10px;
}

.hamburgerMenuItem a {
  text-decoration: none;
  font-size: 16px;
  color: $text-primary;
  @include font-apply($font-noto, $fw-medium);
}

.hamburgerMenuItem button {
  background-color: transparent;
  border: none;
  font-size: 16px;
  color: $text-primary;
  @include font-apply($font-noto, $fw-medium);
  cursor: pointer;
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 8px;

  &::after {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    border-right: 2px solid currentColor;
    border-bottom: 2px solid currentColor;
    transform: rotate(45deg);
    transition: transform 0.25s ease;
    flex-shrink: 0;
  }
}

.hamburgerSubmenuOpen::after {
  transform: rotate(-135deg) !important ;
}


.hamburgerSubMenuClosed {
  display: none;
}

.hamburgerSubMenuOpen {
  display: block;
}

.hamburgerMenuItem>div>ul {
  list-style: none;
  margin-top: 1rem;
  border-color: #ebedf0;
  color: $text-primary;
  margin-bottom: 2rem;
  border-left: 1px solid lightgray;
  margin-left: 16px;
}

.hamburgerSubMenuItem {
  list-style: none;
  padding: $space-10 0 $space-10 $space-18;
  a {
    color: #626772;
    @include font-apply($font-noto, $fw-regular);
    font-size: 16px;
  }
}

.hamburgerIcon {
  display: block;
}

.hamburgerIcon line {
  stroke: currentColor;
  stroke-linecap: round;
  stroke-width: 2;
}

.crossIcon {
  display: inline-block;
  width: 24px;
  height: 20px;
  color: $white;
}


/******Button Style******/
.buttonsContainer {
  display: flex;
  gap: 16px;
}

.headerButton {
  background-color: #f5e8ed;
  padding: 8px 16px;
  border-radius: 32px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  border: none;
  color: $white;
  font-size: 14px;
  line-height: 21px;
  @include font-apply($font-noto, $fw-bold);
}

.headerButton {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;

  &::after {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    border-right: 2px solid currentColor;
    border-bottom: 2px solid currentColor;
    transform: rotate(45deg);
    transition: transform 0.25s ease;
    flex-shrink: 0;
    margin-bottom: 4px;
  }
}

.headerButton a {
  color: $secondary;
  text-decoration: none;
  font-size: 14px;
  line-height: 21px;
  @include font-apply($font-noto, $fw-bold);
}

.headerButtonOpen::after {
  transform: rotate(-135deg) !important;
  margin-top: 8px;
  margin-bottom: 0;
}

.dropdownWrapper {
  position: relative;
  display: flex;

  .headerButton {
    background-color: $secondary;
  }
}


.arrow {
  font-size: 12px;
  transition: transform 0.2s ease;
}

.dropdownContent {
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  background: $white;
  border-radius: 8px;
  padding: 12px;
  min-width: 180px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
  opacity: 0;
  transform: translateY(-6px);
  animation: fadeDrop 0.25s ease forwards;
  z-index: 999;
}

@keyframes fadeDrop {
  from {
    opacity: 0;
    transform: translateY(-6px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.dropdownLink {
  display: block;
  padding: 8px;
  color: $text-primary;
  text-decoration: none;
  border-radius: 6px;
  transition: background 0.2s ease;
}

.dropdownLink:hover {
  background: rgba(0, 0, 0, 0.07);
}